*~
*.vo
*.vos
*.vok
*.glob
*.aux
*.vcd
*.vvp
*.v.timing
.coq-native
.depend
.lia.cache
.nia.cache
.coqdeps.d
Makefile.coq*
.Makefile*.coq*
\#*\#

*.out

.DS_Store

.vscode

__pycache__

/.dir-locals.el
